fastapi==0.128.0
langchain_core==1.2.7
langchain_google_genai==4.2.0
langgraph==1.0.6
Pillow==12.1.0
pydantic==2.12.5
pydantic_settings==2.12.0
pillow==12.1.0
python-multipart==0.0.21
uvicorn==0.40.0
